ai1wm-backups
plugins
upgrade
uploads
node_modules
/index.php
/themes/index.php
/themes/twentytwentyfive
/themes/portfolio-theme/package-lock.json
/themes/portfolio-theme/images
/themes/portfolio-theme/screenshot.PNG
/plugins/index.php