.about {
  padding: $section-padding;

  &-container {
    display: flex;
    padding-top: $section-padding;
  }

  &-img {
    display: flex;
    height: 50vh;
    width: 50vh;
    aspect-ratio: 1 / 1;
    padding-left: 5%;

    img {
      border-radius: $base-border-radius;
    }
  }
  
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 5%;
    
    &__container {
      display: flex;
      justify-content: space-between;
    }

    &__field {
      font-weight: 700;
      text-transform: uppercase;
      color: $dark-color;
    }
  }

  @media screen and (max-width: 1200px) {
    padding-bottom: $section-padding-mobile;
    
    &-container {
      flex-direction: column;
      align-items: center;
    }

    &-img {
      padding-left: 0;
    }

    &-info {
      padding: $section-padding-mobile $section-padding-mobile 0;

      &__container {
        div {
          margin-top: $base-margin;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: $section-padding $section-padding-mobile $section-padding-mobile;
    
    &-info {
      padding: $section-padding-mobile 0 0;

      &__container {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0;
      }
    }
  }

  @media screen and (max-width: 576px) {
    &-img {
      width: 60vw;
      height: 60vw;
    }
  }
}