.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $section-padding;

  &-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    max-width: 1140px;
  }

  &-img {
    display: flex;
    justify-content: flex-end;

    img {
      width: 350px;
      max-height: 350px;
      border-radius: $base-border-radius;
    }
  }
  
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;

    &__field {
      font-weight: 700;
      text-transform: uppercase;
      color: $dark-color;
    }
  }

  @media screen and (max-width: 992px) {
    padding: $section-padding $section-padding $section-padding-mobile;
    
    &-container {
      display: block;
    }

    &-img {
      justify-content: center;
    }

    &-info {
      padding-top: $section-padding-mobile;
    }
  }

  @media screen and (max-width: 768px) {
    padding: $section-padding $section-padding-mobile $section-padding-mobile;
  }
}