.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;

  &.appear {
    opacity: 1;
  }
}

.animation-left {
  transform: translateX(-50%);
}

.animation-right {
  transform: translateX(50%);
}

.animation-left, .animation-right {
  transition: opacity 500ms ease-in, transform 750ms ease-in;
  opacity: 0;
}

.animation-left.appear, .animation-right.appear {
  transform: translateX(0);
  opacity: 1;
}

@media screen and (max-width: 1200px) { 
  .animation-left, .animation-right {
    transform: translateX(0);
    transition: opacity 500ms ease-in;
  }
}